{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="forgot-pw-container">
        <div>
            <h1>Forgot Password</h1>
        </div>
        <form action="/forgot-password" method="POST">
            <div class="auth__wrap-input">
                <input type="email" class="auth__input" placeholder="e-mail" name="email" required />
            </div>
            <button class="button auth__button">Reset passord</button>
        </form>
        <div>
            <a href="./"><p class="link auth__back-login">← Back to Login</p></a>
        </div>
    </div>
</div>
{% endblock %}
