{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="forgot-pw-container">
        <div>
            <h1>Reset Password</h1>
        </div>
        <form action="/reset-password" method="POST">
            <div class="auth__wrap-input">
                <input type="password" class="auth__input" placeholder="new password" name="password" required />
            </div>
            <div class="auth__wrap-input">
                <input type="password" class="auth__input" placeholder="confirm password" name="confirm-password" required />
            </div>
            <input type="hidden" value="{{ email }}" name="email" hidden />
            <input type="hidden" value="{{ token }}" name="token" hidden />

            <button class="button auth__button">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
